{% extends 'base.html.twig' %}

{% block title %}Showing Users{% endblock %}

{% block body %}


    <section class="intro">
    <div class="gradient-custom-2 h-100">
    <div class="mask d-flex align-items-center h-100">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-12">
    <div class="table-responsive">
    <table class="table table-dark table-bordered mb-0 table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for user in users %}

            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <form action="{{ path('details_user', { 'id': user.id }) }}">
                        <button >
                            Show Details
                        </button>
                    </form>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>

{% endblock %}